{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-content padding-y bg">
  <div class="container">

    <!-- ============================ COMPONENT 1 ================================= -->

    <h4 class="text-center mb-10">Review Your Order</h4>
    <div class="row">
      <aside class="col-lg-8">
        <div class="card">
          <h5 class="card-header">Billing Address</h5>
          <div class="card-body">
            <p class="card-text mb-0">{{ order.full_name }}</p>
            <p class="card-text mb-0">{{ order.full_address }}</p>
            <p class="card-text mb-0">{{ order.city }}, {{ order.state }}</p>
            <p class="card-text mb-0">{{ order.country }}</p>
            <p class="card-text mb-0">{{ order.email }}</p>
            <p class="card-text mb-0">{{ order.phone }}</p>
            {% if order.order_note %}
            <b>Order Note: </b> {{ order.order_note }}
            {% endif %}
          </div>
        </div>
        <div class="card">
          <h5 class="card-header">Payment Method</h5>
          <div class="card-body">
            <p class="card-text">Paypal</p>
          </div>
        </div>
        <div class="card">
          <h5 class="card-header">Review Products</h5>
          <div class="card-body">
            <table class="table table-borderless table-shopping-cart">
              <thead class="text-muted">
                <tr class="small text-uppercase">
                  <th scope="col">Product</th>
                  <th scope="col" width="120">Quantity</th>
                  <th scope="col" width="120">Price</th>

                </tr>
              </thead>
              <tbody>

                {% for cart_item in cart_items %}
                <tr>
                  <td>
                    <figure class="itemside align-items-center">
                      <div class="aside"><img src="{{ cart_item.product.images.url }}" class="img-sm"></div>
                      <figcaption class="info">
                        <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{
                          cart_item.product.product_name }}</a>
                        <p class="text-muted small">
                          {% if cart_item.variations.all %}
                          {% for item in cart_item.variations.all%}
                          {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
                          {% endfor %}
                          {% endif %}
                        </p>
                      </figcaption>
                    </figure>
                  </td>
                  <td>
                    <!-- col.// -->
                    <label for="">{{cart_item.quantity}}</label>
                  </td>
                  <td>
                    <div class="price-wrap">
                      <var class="price">$ {{ cart_item.sub_total }}</var>
                      <small class="text-muted"> $ {{ cart_item.product.price }} each </small>
                    </div> <!-- price-wrap .// -->
                  </td>

                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

      </aside> <!-- col.// -->
      <aside class="col-lg-4">

        <div class="card">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Total price:</dt>
              <dd class="text-right">$ {{ total }}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Tax:</dt>
              <dd class="text-right"> $ {{ tax }}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Total:</dt>
              <dd class="text-right text-dark b"><strong>$ {{ grand_total }}</strong></dd>
            </dl>
            <hr>
            <p class="text-center mb-3">
              <img src="{% static './images/misc/payments.png'%}" height="26">
            </p>

            <div id="paypal-button-container">

            </div>


          </div> <!-- card-body.// -->
        </div> <!-- card.// -->

      </aside> <!-- col.// -->


    </div> <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->

  </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<script>

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const csrftoken = getCookie('csrftoken');
var url = "{% url 'payments' %}"
var orderID = "{{ order.order_number }}"
var payment_method = 'Paypal';

paypal.Buttons({
    // Sets up the transaction when a payment button is clicked
    createOrder: function (data) {
      return fetch("", {
        method: "POST",
        header: {
          "Content-type": "application/json",
          "X-CSRFToken": csrftoken,
        },
        // Use the "body" parameter to optionally pass additional order information
        // such as product ID or amount
        body: JSON.stringify({
          orderID: orderID,
          transID: details.id,
          payment_method: payment_method,
          status: details.status,
        }),
      })
        .then((response) => response.json())
        .then((order) => order.id);
      console.log(details);
      },
    // Finalize the transaction after payer approval
    onApprove: function (data) {
      return fetch(`/${data.orderID}/capture`, {
        method: "POST",
      })
        .then((response) => response.json())
        .then((orderData) => {
          // Successful capture! For dev/demo purposes:
          console.log(
            "Capture result",
            orderData,
            JSON.stringify(orderData, null, 2),
          );
          var transaction = orderData.purchase_units[0].payments.captures[0];
          // Show a success message within this page. For example:
          // var element = document.getElementById('paypal-button-container');
          // element.innerHTML = '<h3>Thank you for your payment!</h3>';
          // Or go to another URL: actions.redirect('thank_you.html');
        });
    },
    onError: function (error) {
      // Do something with the error from the SDK
    },
  })
  .render("#paypal-button-container");

// Create the Card Fields Component and define callbacks
const cardField = paypal.CardFields({
  createOrder: function (data) {
    return fetch("", {
      method: "POST",
      body: {
        paymentSource: data.paymentSource,
      },
    })
      .then((res) => {
        return res.json();
      })
      .then((orderData) => {
        return orderData.id;
      });
  },
  onApprove: function (data) {
    const { orderID } = data;
    return fetch(`/${orderID}/capture`, {
      method: "POST",
    })
      .then((res) => {
        return res.json();
      })
      .then((orderData) => {
        // Redirect to success page
      });
  },
  onError: function (error) {
    // Do something with the error from the SDK
  },
});
// Render each field after checking for eligibility
if (cardField.isEligible()) {
  const nameField = cardField.NameField();
  nameField.render("#card-name-field-container");

  const numberField = cardField.NumberField();
  numberField.render("#card-number-field-container");

  const cvvField = cardField.CVVField();
  cvvField.render("#card-cvv-field-container");

  const expiryField = cardField.ExpiryField();
  expiryField.render("#card-expiry-field-container");

  // Add click listener to submit button and call the submit function on the CardField component
  document
    .getElementById("card-field-submit-button")
    .addEventListener("click", () => {
      cardField.submit().then(() => {
        // submit successful
      });
    });
}

</script>

{% endblock %}